<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Artififi{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}Artififi{% endblock %}">
        <meta name="theme-color" content="#1a0f0f">
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="app-wrapper">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
